.records{
    width: 100%;
    user-select: none;
    text-align: center;
}

.flex-container {
    width: 100%;
    margin: auto;
    display:block;    
    justify-content: space-around;    
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
  }

.records th{
    height: 50px;
    min-width: 120px;
    background-color: var(--primary-color);    
    font-size: 1.2rem;       
}

.records td{
    height: 50px;
    width: 50%;    
}

.records th:last-child,
.records td:last-child{
    padding: 0;
    min-width: 190px;
    text-align: center;
}

.records tr:hover{
    background-color: var(--secundary-color);
}

@media(max-width:480px){
    .records{
        border-spacing: 5px;
    }
    .records thead{
        display:none;
    }
    .records tr{
        box-shadow: 0 1px 3px var(--shadow-color);
    }
    .records td:not(:first-child){
        display:flex;
        justify-content: space-between;
        padding: 0 20px;
    }

    .records td{
        margin:10px 0;
    }

    .records tr:hover{
        background-color: inherit;
    }
}